# Python 백엔드
backend/__pycache__/
backend/venv/
backend/vector_db/
backend/uploaded_docs/
backend/.env

# Node/React 프론트엔드
frontend/node_modules/

# 환경 설정 파일 (OS/IDE 등)
.DS_Store
*.log
*.pyc
*.pyo
*.sqlite3
.env
*.swp
